{% extends 'base.html' %}
{% load static %}
{% block base %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <style>
      .icon1{
        width:100px;
        height:100px;
        border-raduis:50%;
      }
      .icon1 img{
        width:100%;
        height:100%;
        border-radius:50%;
      }
    </style>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">ibrat maxzalla saytiga hush kelibsiz</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">maxalla va oilani qo'llab quvatlash vazirligi</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="{% url 'aloqa' %}" class="btn-get-started scrollto">aloqa</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'img/elser1.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
<style>
  .img-fluid1{
  width:100px;
  height:100px;
  }
</style>

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'img/commut1.png' %}" class="img-fluid1" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'img/commut2.png' %}" class="img-fluid1" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'img/commut3.png' %}" class="img-fluid1" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'img/commut7.png' %}" class="img-fluid1" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'img/commut5.png' %}" class="img-fluid1" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'img/commut6.png' %}" class="img-fluid1" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Biz haqimizda</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <h1>
              Namangan viloyati mahalla va oilani qo‘llab
                quvatlash boshqarmasi
            </h1>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <h1>
              Namangan shaxar mahalla va oilani qo‘llab
              quvatlash bo‘limi

            </h1>
            <a href="{% url 'home' %}" class="btn-learn-more">asosiyga qatish</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
            <img src="{% static 'img/man.png' %}" alt="" class="img-fluid">
          </div>
           <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
            <img src="{% static 'img/commun11.png' %}" alt="" class="img-fluid">
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
    <section id="services1" class="services">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Aholini Demografik ko‘rsatkichlari</h2>
          <div class="row offset-3">
            {% for edit in editor %}
            <div class="col-12">
              {{edit.content|safe}}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Hodimlar</h2>
          <p>Ibrat maxalla hodimlari</p>
        </div>

        <div class="row">
          {% for ishchi in ishchilar %}
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon1"><img src="{{ishchi.employes_img.url}}" alt="" srcset="">  </div>
              <h4 class="title"><a href="">{{ishchi.employes_name}}</a></h4>
              <p class="description">{{ishchi.employes_info}}</p>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= More Services Section ======= -->
    <section id="more-services" class="more-services">
      <div class="container">
                  <h2>MADANIYAT VA MARIFAT TUSHUNCHALARI</h2>
        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card" style='background-image: url("assets/img/more-services-1.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">madaniyat tushunchalari</a></h5>
                <p class="card-text">Madaniyat inson faoliyati va shu faolliyatning ahamiyatini belgilovchi ramziy qurilmalar va asarlar majmuidir. Madaniyat musiqa, adabiyot, badiiy tasvir, meʼmorchilik, teatr, kinematografiya, turmush tarzi kabi faoliyatlarda namoyon boʻlishi mumkin. Antropologiyada "madaniyat" atamasi ostida mahsulotlar va ularni ishlab chiqarish, estetik maʼno berish, hamda shu jarayonlarga bogʻlangan ijtimoiy munosabatlar tushuniladi. Bu maʼnoda madaniyat oʻz ichiga sanʼat, fan va maʼnaviy tizimlarni oladi</p>
                <div class="read-more"><a href="{% url 'yangiliklar' %}"><i class="bi bi-arrow-right"></i><h3>yangiliklarga utish</h3></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("assets/img/more-services-2.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title">Maʼrifat tushunchalari</h5>
                <p class="card-text">Maʼrifat — kishilarning ongini, bilimini, madaniyatini oshirishga qaratilgan taʼlimtarbiya. U tabiat, jamiyat va inson mohiyati haqidagi turli bilimlar, maʼlumotlar majmu-asini ham bildiradi. M. ilmu urfon maʼnosida ham ishlatiladi. M. tushunchasi madaniyat, maʼnaviyat tushunchalari bilan bogʻliq. M. maʼnaviy qaramlikni bartaraf qiladi, insonga kuch-qudrat ato etadi. U kishilarni jaholatdan qutqaradi, buzuq ishlardan qaytaradi, yaxshi xulq va odob egasi boʻlishga yordam beradi. M.li kishilardan tashkil topgan jamiyat ravnaq topadi, kelajagi porloq boʻladi. M. — bilim va madaniyatning qoʻshma mazmuni boʻlib, maorif uni yoyish vositasvdir. M.ni hayotga singdirish maorif tizimi orkali amalga oshiriladi</p>
                <div class="read-more"><a href="{% url 'yangiliklar' %}"><i class="bi bi-arrow-right"></i><h3>yangiliklarga utish</h3></a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("assets/img/more-services-3.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href=""><h3>Ibrat maxalla tushincha</h3></a></h5>
                <p class="card-text">Mahalla tarixi qadim zamonlarga borib taqaladi. Tarixiy manbalarda qayd etilishicha, jez davrining yodgorligi boʻlgan Sopollitepapya 8 ta oila yashagan. Ularni faqat urugʻ jamoasigina emas, balki ishlab chiqarish manfaatlari ham birlashtirib turgan. Keyinchalik ularning safiga patriarxal tizim asosida 100 dan ortiq oilalar kelib qoʻshilgan. Katta oilalar jamoasini ular orasidan saylangan oqsoqol boshqargan. Oqsoqollar oʻz navbatida oliy oqsoqollar kengashiga birlashgan. Oqsoqollar, odatda, jamoa — qishloq hayoti bilan bogʻliq barcha masalalarni oliy kengash orqali hal qilishgan. Miloddan avvalgi 3-asrdan milodiy 5-asrning boshlarigacha Fargʻona (Parkana) davlatida ham oqsoqollar kengashi muhim vazi-falarni hal etgan. Kengash, asosan, sulh tuzish, vazirlar tarkibi va soliqlarni tayinlash, urush eʼlon qilish, jamoa ishlariga safarbar etish kabi masalalar bilan shugʻullangan.</p>
                <div class="read-more"><a href="{% url 'home' %}"><i class="bi bi-arrow-right"></i><h3>asosiyga qaytish</h3></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("assets/img/more-services-4.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">Uzbekiston tarihiy obidalari tushunchuncha</a></h5>
                <p class="card-text">O'zbekiston mustaqillikka erishgach, ajdodlarimizdan qolgan madaniy tarixiy merosga e'tibor kuchaydi, tarixiy yodgorliklar davlat nazorati ostiga olindi. Istiqlol yillarida Buxoro, Samarqand, Termiz, Xiva, Toshkent. Qo'qon. Shahrisabz kabi shaharlarda ulug' ajdodlarimizning yuksak iste'dodi bilan bunyod etilgan obidalar o'zining haqiqiy qadr-qimmatini topdi, ularni ta'mirlash va asl qiyofasini tiklash davlatimiz siyosatining ustuvor yo'nalishlaridan biriga aylandi</p>
                <div class="read-more"><a href="{% url 'UzTarih' %}"><i class="bi bi-arrow-right"></i><h3>TARIXIY OBIDALAR RASMLARIGA UTISH</h3></a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End More Services Section -->

    <!-- ======= Features Section ======= -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2> hodimlar almashuvi yangiliklari</h2>
          <p>ibrat maxalla yangiliklari</p>
        </div>
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for i in YangiHodim %}

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{i.rasmi.url}}" class="testimonial-img" alt="">
                  <h3>{{i.ismi}}</h3>
                  <p>{{i.haqida}}</p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}




          </div>
          <div class="swiper-pagination"></div>
        </div>


      </div>
    </section><!-- End Testimonials Section -->
    <style>
      .img-fluida{
       width:900px;
       height:354px;
      }

    </style>

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>rasmlar</h2>
          <h3>ibrat maxalla yngilik rasmlari</h3>
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
          {% for i in rasmlar %}

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{i.rasm.url}}" class="img-fluida" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{{i.rasm.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Jamoa</h2>
          <p><h3>II. Mahalla fuqarolar yig‘ini kengashi a’zolari</h3></p>
        </div>

        <div class="row">
          {% for i in malumot %}
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{{i.rasmi.url}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{i.ismi}}</h4>
                <p>{{i.TurarJoi}}</p>
                <p>{{i.lavozimi}}</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Team Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Yangiliklar</h2>
          <p>ibrat maxalla o'zgarish yangiliklari</p>
        </div>

        <div class="row">

          {% for i in uzgarishlar %}
          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
              <p><h6>{{i.uzgarish}}</h6></p>
              <div class="btn-wrap">
                <a href="{% url 'malumotlar' %}" class="btn-buy">koproq malumot</a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->

    <!-- ======= Contact Section ======= -->

  </main><!-- End #main -->

{% endblock %}




